/*Custom CSS file*/

.header-icons {
    text-align: right;
    margin-top: 20px;
}

.search-icon,
.hamburger {
    width: 60px;
    height: 60px;
}

.title-section {
    text-align: center;
}

.mySlides {
    display:none
}

.date {
    text-align: left;
    margin-bottom: 40px;
}

.title {
    margin-bottom: 40px;
}

.line-rule {
    color: grey;
}

.events {
    text-align: left;
    margin-bottom: 40px;
}

a {
    cursor: pointer;
}

.view-event {
    text-align: right;
}

.left-align {
    text-align: left;
    margin-bottom: 50px;
}

.events-image {
    width: 100%;
}

.name-list {
    list-style-type: none;
    cursor: pointer;
    text-align: left;
    padding-left: 0;
    margin-bottom: 50px;
}

.name-list li a {
    color: black;
}

.name-list li a:hover {
    color: black;
    border-bottom: 2px solid grey;
    text-decoration: none;
}

.contact-list {
    display: -webkit-box;
    list-style-type: none;
    cursor: pointer;
    padding-left: 0;
}

.contact-list li:nth-child(2) {
    padding-right: 50px;
    padding-left: 50px;
}

.socials {
    text-align: right;
}

.newsletter {
    text-align: left;
}

.footer-list {
    list-style-type: none;
    cursor: pointer;
    display: inline-flex;
    color: #c7c7c7;
}

.footer-list li a:hover {
    list-style-type: none;
    cursor: pointer;
    color: #c7c7c7;
    text-decoration: none;
}

.footer-color {
    background-color: #404040;
    color: #BEBEBE;
    margin-top: 70px;
}

.footer-list li:nth-child(2) {
    padding-right: 50px;
    padding-left: 50px;
}

.copyright {
    padding-top: 25px;
    padding-bottom: 10px;
}

.navbar-form {
    margin-top: 58px;
}